<h1>99 CENT PIZZA Finder</h1>
<%= link_to 'Add a Pizza Spot', new_spot_path%></br>
<%= link_to 'Find Your Location', new_customer_path,  id:'loc'%>

// <script>
//    var position = function(pos) {
//    	var lat = pos.coords.latitude,
//    		long = pos.coords.longitude;

//    }
//    document.getElementId('loc').onClick = function(){
//    	navigator.geolocation.getCurrentPosition(position);
//    	return false;
//    	}
//    	// getElementId preps the button to trigger the response. the response gets stored in the variable position
// </script>
 
        
